.search_container {
  flex: 1;
  min-width: 32rem;
  height: 3.4rem;
  margin-bottom: var(--spacing-sm);
  display: flex;
  align-items: center;
}

.search_input {
  width: 100%;
  height: 100%;
  padding: 0.4rem 0.875rem;
  border: 1px solid var(--color-gray);
  border-radius: 0.5rem;

  font-size: 18px;
  color: inherit;

  background-color: var(--color-light-gray);

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--color-gray);
  }
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
