.visit_item {
  // TODO: Add styles for the visit item
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-sm);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--color-light-gray);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }

  &__patient {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--spacing-s);
  }
  &__status_badge {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__time {
    color: var(--color-text);
  }

  &__patient_name {
    color: var(--color-primary);
    font-weight: 600;
  }

  &__patient_info {
    color: var(--color-gray);
    font-size: 12px;
  }
}
