.App {
  font-family: sans-serif;
  color: var(--color-text);
}

.app-container {
  max-width: 800px;
  margin: var(--spacing-l) auto;
  padding: 0 var(--spacing-m);
}

body {
  background-color: var(--background-color);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
